@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none !important;
}


:root{
  --main-color:#bc9667;
  --second-color:#edeae3;
  --text-color:#1b1b1b;
  --bg-color:#fff;
  
  /*box shadow*/
  --box-shadow:2px 2px 10px 4px rbg(14 55 54 / 15%);
}

body {
  color: var(--text-color);
}


.box{
    
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,1),
                0 32px 64px -48px rgba(0,0,0,5);
}

.form-box{
    margin-top: 200px !important;
    width: 33.33%;
    justify-content: center;
    align-items: center;
    
}

.home {
  width: 100%;
  
}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 10px;
}

.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 5px;
    border:  1px solid --bg-color;
    outline: none;
}

body {
  color: var(--text-color);
}

.btn{
  padding: 10px 40px !important;
  border-radius: 0.4rem !important;
  background: var(--main-color) !important;
  color: var(--bg-color) !important;
  font-weight: 500 !important;
  margin-top: 30px !important;
  text-align: center !important;
}

.btn:hover{
  background: var(--main-color) !important;
  color: var(--text-color) !important;
}

.submit{
    width: 100%;
}

.links{
    margin-bottom: 15px;
}

.links a{
  color: var(--main-color);
}
/*HEADER*/
.nav{
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-color);
  display: flex;
  flex-direction: row;
  height: 90px;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  background: var(--text-color);
}

.nav .logo img {
width: 60px;
margin: 0 60px;
}
.nav_menu_items ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.nav_menu_items ul a {
  text-decoration: none;
  color: var(--bg-color);
}

.nav_menu_items ul a li:hover{
  color: var(--main-color);
  transition: 0.2s all linear;
}
  
.nav_menu_items ul a li{
 line-height: 90px;
 color: var(--bg-color);
 font-size: 16px;
 font-weight: 600;
 
}
.nav_icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 18px;
}
.nav_icon i{
  font-size: 22px;
  z-index: 1001; 
  padding: 0px 10px;
  color: var(--bg-color);
  
}

.nav_icon a{
  font-size: 16px;
  padding: 0 10px;
  color: var(--bg-color);
  font-weight: 600;
  text-transform: uppercase;
}

.nav_icon i:hover{
  color: var(--main-color);
}

.nav_icon a:hover{
  color: var(--main-color);
}
/* HOME */
.home_function{
    display: flex;
   
}
.home_function ul {
  padding-left: 0 !important;
}
.home_function .home_box{
  display: flex;
  flex-direction: column;
}

.home_box ul li a {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.home_box i{
  padding-top: 3px;
  color: var(--main-color);
  font-size: 20px !important;
  line-height: 40px;
  padding-right: 20px;
}
.home_box p{
  color: var(--main-color) !important;
  line-height: 40px;
  font-size: 20px !important;
}

@media only screen and (max-width: 1299px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .top .box{
        margin:  10px 10px;
    }

    .bottom {
        margin-top: 0;
    }


    
}

.message{
    text-align: center;
    background: var(--bg-color);
    padding: 15px 0;
    border:1px solid --text-color;
    border-radius: 5px;
    margin-bottom: 10px;
    color: var(--text-color);
}

/* DELETE */
table {
    border: 1px solid var(--text-color);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: var(--bg-color);
    border: 3px solid  var(--text-color);
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
    border: 3px solid  var(--text-color);

  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid var(--main-color);
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid var(--main-color);
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

  /* NAV MENU FEATURE */
.nav_menu_feature{
   display: flex;
   flex-direction: row;
   width: 100%;
}

.nav_menu_items ul a {
    text-decoration: none;
    color: var(--bg-color);
}

.nav_menu_items ul a li:hover{
    color: var(--main-color);
    transition: 0.2s all linear;
}
    
.nav_menu_items ul a li{
   line-height: 90px;
   color: var(--bg-color);
   font-size: 16px;
   font-weight: 600;
}

  
  